<html>
    <head>
        <title>Add to Cart</title>
    </head>
    <body>
        Hi <%=  user_email  %>

        <h1>Cart</h1>
        <table>
            <tr>
                <td><%= Products.Name %></td>
                <td><%= Products.Price %></td>
                <td><%= Products.Category %></td>
            </tr>    
         </table>    
         <a href="/AllProduct">AllProducts</a>
    </body>
</html>